<link href="../css/normalize.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">
<link href="../css/basic.css" rel="stylesheet">
<link href="../css/portfolio.css" rel="stylesheet">

<div class="nav collapsible">
  <span class="nav__title">./anil_gurbuz </span>

  <svg class="icon icon--primary nav__icon">
    <use xlink:href="../icons/sprite.svg#menu"></use>
  </svg>

  <ol class="numbered-list nav__list collapsible__content">
    <li class="list__item-white nav__item"><a class="links link-white " href="#aboutme">About Me</a></li>
    <li class="list__item-white nav__item"><a class="links link-white " href="#blog">Blog</a></li>
    <li class="list__item-white nav__item"><a class="links link-white " href="#portfolio">Portfolio</a></li>
  </ol>
</div>

<script src="../js/app.js"></script>
